In [11]:
import pandas as pd

# listOfCourses = ["MATH101", "ENGL101", "PE  101", "ICS 104", "PHYS101", "IAS 121", "MATH102", "ENGL102", "ICS 108", "PHYS102", "IAS 111", "MATH201", "ISE 291", "SWE 206", "ICS 202", "CHEM101", "MATH208", "COE 292", "SWE 216", "ICS 253", "COE 233", "IAS 212", "STAT319", "SWE 316", "ICS 321", "ICS 343", "SWE 387", "SWE 363", "ENGL214", "SWE 326", "ICS 344", "CGS 392", "BUS 200", "SWE 399", "SWE 439", "SWE 411", "SWE 412", "ICS 433"]

# df = pd.read_csv('D:/KFUPM/221/ICS 108/ICS 108 coding part/Project/ICS-108-Project-term-221/ICS-108-Project-term-221/CourseOfferingTerm222.csv', delimiter = ',')

# found = False
# columnLength = len(df.index)

# for i in range(columnLength):
#     found = False
#     x = df.loc[i,"Course-Sec"].split("-")
#     found = x[0] not in listOfCourses
#     if (found):
#         df.drop(index=i,inplace=True)


# df.to_csv("CourseOfferingNew",index=False)

########################################################

# df = pd.read_csv('D:/KFUPM/221/ICS 108/ICS 108 coding part/Project/ICS-108-Project-term-221/ICS-108-Project-term-221/CourseOfferingNew.csv', delimiter = ',')

# df.drop(columns=["Activity","CRN","Course Name","Instructor","Status","Waitlist"],inplace=True)
# df.to_csv("CourseOfferingNew.csv",index=False)
# display(df)

      Course-Sec  Day       Time Location
0     CHEM101-01    W  0800-0850   63-325
1     CHEM101-01  UTR  0800-0850   63-362
2     CHEM101-02    W  0900-0950   63-325
3     CHEM101-02  UTR  0800-0850   63-362
4     CHEM101-03    W  1000-1050   63-121
..           ...  ...        ...      ...
809   ISE 291-13   MW  1000-1115  59-1011
810   ISE 291-17   MW  1720-1835   24-151
811   ISE 291-18  UTR  1300-1350  59-2017
812  ISE 291-F31   MW  1100-1215    7-102
813  ISE 291-F32   MW  1230-1345    7-102

[814 rows x 4 columns]